:root {
  --lila: #f4aeaa;
  --rojo: #f04643;
  --amarillo: #dab827;
  --azul: #4554a4;
  --verde: #70802c;
  --verde-claro: #92ad3d;

  --blanco: #e1e1e1;
  --negro: #1e1e1e;
  --gris: #e5e6e1;
}


input[type=number] {
  width: 40px;
}

body,
h3, h2{
  background-color: var(--negro);
  color: var(--blanco);

}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 11; /*elementos por delante*/
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px); /*desenfoque*/
  opacity: 86%;
  text-align: justify;

}

.nav-link {
  margin-left: 10px;
  margin-right: 30px;
  color: #b6b6b6;
}

.navbar-logo {
  display: inline-block;
  vertical-align: middle;
  width: 80px;

}

.navbar-logo img {
  display: block;
  height: auto;

}

footer,
footer svg {
  color: var(--blanco);
  opacity: 80%;
  line-height: 14px;
}

.container1 {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
  position: relative;
  display: block;
}

.productos {
  margin-top: 40px;
  margin-right: 50px;
  margin-left: 50px;
  color: (var(--gris));
}

.spanletras {
  font-size: larger;
  color: #dab926;
  text-shadow: 1px 1px #d84e18;

}

.spanletrasrojo {
  color: var(--lila);
  line-height: 65px;

}

.spanletrasverde {
  color: #70802c;
  font-size: xx-large;
  text-shadow: 1px 1px #d8d818;
}

.fadeTop {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 3s;
}

.fadeRight {
  opacity: 0;
  transform: translate(10vh, 0vh);
  transition: all 3s;
}

.fadeLeft {
  opacity: 0;
  transform: translate(-10vh, 0vh);
  transition: all 3s;
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.btn-productos {
  box-shadow: 2px 4px 4px var(--negro);
  background-color: var(--blanco);
  color: #1e1e1e;
}

.shadown {
  box-shadow: 2px 4px 4px var(--negro);
}

.shadown-gris {
  box-shadow: 1px 2px 2px var(--gris);

}

.shadown-lila {
  box-shadow: 2px 2px 2px var(--lila);

}

.shadown-rojo {
  box-shadow: 2px 2px 2px var(--rojo);

}

.shadown-verdeC {
  box-shadow: 2px 2px 2px var(--verde-claro);

}

.shadown-amarillo {
  box-shadow: 2px 2px 2px var(--amarillo);

}

.shadown-blanco {
  box-shadow: 2px 2px 2px var(--blanco);

}

.contenedor {
  position: relative;
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}


.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
}

.texto-abajo {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.abajo-centrado {
  position: relative;
  bottom: 18px;
  
}



@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 1280px;
}

.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(360deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 7);
}

.slider .slide {
  height: 100px;
  width: 250px;
}


/* Start: Video Responsive */
/* Start: Video Responsive */
/* Start: Video Responsive */
.video-responsive {
  overflow: hidden;
  padding-bottom: 400px;
  /* Adecua este valor para controlar la altura del video */
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* End: Video Responsive */

.btn1 {
  display: inline-block;
  font-weight: 650;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--blanco);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.rojo {
  color: var(--rojo);
}

.negro {
  color: var(--negro);
}

.azul {
  color: var(--azul);
}

.amarillo {
  color: var(--amarillo);
}

.verde {
  color: var(--verde);
}

.verdeC {
  color: var(--verde-claro);
}

.lila {
  color: var(--lila);
}

.gris {
  color: var(--gris);
}

.blanco {
  color:var(--blanco);
}

.btn-rojo {
  background-color: var(--rojo);
}

.btn-negro {
  background-color: var(--negro);
}

.btn-azul {
  background-color: var(--azul);
}

.btn-amarillo {
  background-color: var(--amarillo);
}

.btn-verde {
  background-color: var(--verde);
}

.btn-verdeC {
  background-color: var(--verde-claro);
}

.btn-lila {
  background-color: var(--lila);
}
 

.btn-blanco {
  background-color: var(--blanco) ;
}

.btn-derecho {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.btn-derecho-sm {
  position: absolute;
  bottom: 6px;
  right: 4px;
}
.btn-medio {
  position: absolute;
  bottom: 10px;
  right: 65px;
}
.btn-medio-sm {
  position: absolute;
  bottom: 6px;
  right: 44px;
}

.btn-izquierdo {
  position: absolute;
  bottom: 10px;
  right: 165px;
}

.tituloProducto {
  text-align: center;
  position: relative;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parrafoProd {
  position: relative;
  max-width:480px ;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-lila {
  max-width: 520px;
  max-height: 560px;
  background-color: #F5ADA9;
  color: var(--negro);
}
.card-lila h4, .card-lila p{
  background-color: var(--lila);
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
  font-stretch: extra-expanded;
  color: var(--gris) ;
}

.btn-club {
  text-decoration: none;
  padding:20px;
  font-weight: bold;
  font-size: 40px;
  color:var(--gris);
  background:var(--negro);
  border-radius:50px;
  border: 2px solid var(--azul);
  transition: all 0.9s;
  text-align: center;
  width:60%;
  box-shadow: -5px 1px 3px 2px var(--lila);
  
}



.curso {
  /*Le damos al contenedor las medidas de la imagen y lo centramos*/


  /* Esto es importante. Para posicionar el ::before
  de forma absoluta, necesitamos que el contenedor
  tenga position:relative */

  position:relative;
}

.curso::after {
  position:absolute;
  top:0;
  left:0;
  display: block;
  box-sizing:border-box;
  content:"AGOTADO";
  text-transform:uppercase;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  text-align:center;
  font-weight: 700;
  color: #fff;

  /*Le damos medidas estas y color para verlo
  ahora más claro, pero luego lo modificaremos*/

  background: red;           
  width:150px;}

  .curso::after {
    border:15px solid rgb(255, 0, 0);

    box-shadow: 0px 3px 5px -3px #000;

}