.navbar {
    z-index: 11;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    opacity: 86%;
  
  }
  
  .nav-link {
    margin-left:30px;
    margin-right: 10px;
    color: #e5e6e1;
  }

ul {
 margin-left:110px ;
}
.navbar-logo {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
  }
  
  .navbar-logo img {
    display: block;
    height: auto;
  
  }
  .map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:150%;

    width:150%;

    position:absolute;

}

.card {
  border: 40px solid rgb(243, 237, 237);
  border-radius: 50px;
}