.navbar {
    z-index: 11;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    opacity: 86%;
  
  }
  
  .nav-link {
    margin-left:30px;
    margin-right: 10px;
    color: #1e1e1e;
  }

ul {
 margin-left:110px ;
}
.navbar-logo {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
  }
  
  .navbar-logo img {
    display: block;
    height: auto;
  
  }
  
  footer{
    margin-top: 1cm;
  }

  .map-responsive{

    overflow:hidden;

    padding-bottom:400px;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}
